VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
RESEND_API_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Za polepšanje slik kopirajte svoj Gemini API ključ tukaj (ključ pridobite na https://aistudio.google.com/app/apikey)
VITE_GEMINI_API_KEY=
