STRIPE_SECRET_KEY=sk_test_51TEpKT79UMFm180xmahw8Z5R4G8jbsNlwjqsI6oZMlQ0K31DbChQVobb3qCnXmRcQ2IBoRBnJYJpH7qMa5B3XHnn00hnJ30wnd
VITE_STRIPE_PUBLIC_KEY=pk_test_51TEpKT79UMFm180xkaXeCaTEIuOcfwexWyqyJpWJ6IS3qPGAqR7wn9Gz7XkrIttOcGTeK7CNaDNncLbCpvpjI2sY00czFYMVvh
VITE_SUPABASE_URL=https://ltppzfzfyhbxnzczsdba.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_zf4BJqc3anHFWP3sVUCbcg_H6QGhhCh
